<div>
  <div>
    <button (click)="sair()">Sair</button>
    <h1>{{informacoes[0].Dinheiro}} €</h1>
    <a (click)="btc()"><h2>BITCOIN - {{informacoes[0].Bitcoins}} - {{informacoes[0].BitLucro}} - {{btcInf.price}}</h2></a>
    <a (click)="eth()"><h2>ETHEREUM - {{informacoes[0].Ethereum}} - {{informacoes[0].EthLucro}} - {{ethInf.price}}</h2></a>
  </div>
  <div>
    <div *ngFor="let item of mercado">
      <h3 (click)="comprarVender(item.market, item.price)">{{item.market}} - {{item.price}}</h3>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
