<div class="principal">
  <div class="menu">
    <div class="esquerda">
      <a (click)="sair()" class="sair"><h3>Sair</h3></a>
      <h3>Teu Dinheiro {{informacoes[0].Dinheiro}} €</h3>
    </div>
    <div class="direita">
      <a (click)="btc()">
        <h3>BITCOIN</h3>
      </a>
      <a (click)="eth()">
        <h3>ETHEREUM</h3>
      </a>
    </div>
  </div>
  <div class="inf">
    <div>
      <h3>Tem {{infQuant}} {{preco.base}}</h3>
      <h3>Lucro {{infLucro}}</h3>
      <h3>Preço atual {{preco.price}}</h3>
    </div>
  </div>
  <div class="mercados">
    <div *ngFor="let item of mercado" (click)="comprarVender(item.market, item.price)">
      <h3>{{item.market}}</h3>
      <h4>Preço: {{item.price}}€</h4>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
