
<h2 id="texto">Projeto feito por:</h2>
<img id="gif" src="assets/images/ATENCAO_02.gif" alt="Flowers in Chania" width="460" height="345">

  <div class="split left">
    <img id="fundo" src="assets/images/valorant.jpg" alt="Avatar man">
    <div class="centered">
      <img id="avatar" src="assets/images/acf3081b2ec3cb3cfa6673ec659ec8b3.jpg" alt="Avatar woman">
      <h2>Vitor Silva</h2>
    </div>
  </div>

  <div class="split center">
    <img id="fundo" src="assets/images/mine.jpg" alt="Avatar man">
    <div class="centered">
      <img id="avatar" src="assets/images/8dfb9c777fa41b1200c6b293f2d40393.jpg" alt="Avatar man">
      <h2>Bruno Mendes</h2>
      <button id="botao"><img src="assets/images/dinheiro-icon.png"></button>
    </div>
  </div>

<div class="split right">
  <img id="fundo" src="assets/images/lol.jpg" alt="Avatar man">
  <div class="centered">
    <img id="avatar" src="assets/images/acf3081b2ec3cb3cfa6673ec659ec8b3.jpg" alt="Avatar man">
    <h2>Xavier Monteiro</h2>
  </div>
</div>

