h2 {
  color: white;
}

h1 {
  color: white;
}

.split {
  height: 101%;
  width: 33.3333%;
  position: fixed;
  z-index: 1;
  top: -0;
  overflow-x: hidden;
}

.left {
  left: 0;
  top: -800px;
  animation-name: apareceresquerda;
  animation-duration: 3s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

.right {
  right: 0;
  top: -800px;
  animation-name: aparecerdireita;
  animation-duration: 3s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}

.center {
  right: 455.5px;
  left: auto;
  top: -800px;
  animation-name: aparecercentro;
  animation-duration: 3s;
  animation-delay: 7.5s;
  animation-fill-mode: forwards;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered #avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#fundo {
  width: 500px;
  height: 625px;
}

#botao {
  position: relative;
  top: 22.5vh;
  visibility: hidden;
  animation-name: aparecerbotao;
  animation-duration: 3s;
  animation-delay: 14s;
  animation-fill-mode: forwards;
}

#botao img {
  width: 25px;
}

#texto {
  font-size: 100px;
  text-align: center;
  position: relative;
  top: 10vh;
  animation-name: mudarcor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#texto1 {
  font-size: 35px;
  text-align: center;
  position: relative;
  top: -60vh;
  animation-name: aparecertexto;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#pistao {
  position: relative;
  left: 102.5vh;
  top: 25vh;
  width: 75px;
  animation-name: aparecerpistao;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes apareceresquerda {
  100% {
    top: 0px;
  }
}

@keyframes aparecercentro {
  100% {
    top: 0px;
  }
}

@keyframes aparecerdireita {
  100% {
    top: 0px;
  }
}

@keyframes aparecerbotao {
  100% {
    visibility: visible;
  }
}

@keyframes mudarcor {
  0% {
    color: white;
  }
  25% {
    color: red;
  }
  50% {
    color: white;
  }
  75% {
    color: red;
  }
  100% {
    color: white;
  }
}

@keyframes aparecertexto {
  50% {
    top: 31vh;
  }
  100% {
    top: 0vh;
  }
}

@keyframes aparecerpistao {
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@media only screen and (max-device-width: 360px) {
  .split {
    height: 101%;
    width: 101%;
    position: fixed;
    z-index: 1;
    top: -0;
    overflow-x: hidden;
  }

  .left {
    left: 0;
    top: -800px;
    animation-name: apareceresquerda;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }

  .right {
    right: 0;
    top: -800px;
    animation-name: aparecerdireita;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
  }

  .center {
    right: auto;
    left: -2.5px;
    top: -800px;
    animation-name: aparecercentro;
    animation-duration: 3s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
  }

  #fundo {
    width: 500px;
    height: 650px;
  }

  #texto {
    font-size: 100px;
    text-align: center;
    position: relative;
    top: 10vh;
    animation-name: mudarcor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #texto1 {
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -60vh;
    animation-name: aparecertexto;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  #pistao {
    position: relative;
    left: 22.5vh;
    top: 26.5vh;
    width: 75px;
    animation-name: aparecerpistao;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes aparecertexto {
    50% {
      top: 33vh;
    }
    100% {
      top: 0vh;
    }
  }
}

@media only screen and (max-device-width: 411px) {
  .split {
    height: 101%;
    width: 101%;
    position: fixed;
    z-index: 1;
    top: -0;
    overflow-x: hidden;
  }

  .left {
    left: 0;
    top: -800px;
    animation-name: apareceresquerda;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }

  .right {
    right: 0;
    top: -800px;
    animation-name: aparecerdireita;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
  }

  .center {
    right: auto;
    left: -2.5px;
    top: -800px;
    animation-name: aparecercentro;
    animation-duration: 3s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
  }

  #fundo {
    width: 500px;
    height: 750px;
  }

  #texto {
    font-size: 100px;
    text-align: center;
    position: relative;
    top: 10vh;
    animation-name: mudarcor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #texto1 {
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -60vh;
    animation-name: aparecertexto;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  #pistao {
    position: relative;
    left: 22.5vh;
    top: 36vh;
    width: 75px;
    animation-name: aparecerpistao;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes aparecertexto {
    50% {
      top: 40vh;
    }
    100% {
      top: 0vh;
    }
  }
}

@media only screen and (max-device-height: 823px) {
  .split {
    height: 101%;
    width: 101%;
    position: fixed;
    z-index: 1;
    top: -0;
    overflow-x: hidden;
  }

  .left {
    left: 0;
    top: -850px;
    animation-name: apareceresquerda;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }

  .right {
    right: 0;
    top: -850px;
    animation-name: aparecerdireita;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
  }

  .center {
    right: auto;
    left: -2.5px;
    top: -850px;
    animation-name: aparecercentro;
    animation-duration: 3s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
  }

  #fundo {
    width: 500px;
    height: 850px;
  }

  #texto {
    font-size: 100px;
    text-align: center;
    position: relative;
    top: 10vh;
    animation-name: mudarcor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #texto1 {
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -60vh;
    animation-name: aparecertexto;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  #pistao {
    position: relative;
    left: 20vh;
    top: 42.5vh;
    width: 75px;
    animation-name: aparecerpistao;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes aparecertexto {
    50% {
      top: 46.5vh;
    }
    100% {
      top: 0vh;
    }
  }
}

@media only screen and (max-device-width: 320px) {
  .split {
    height: 101%;
    width: 101%;
    position: fixed;
    z-index: 1;
    top: -0;
    overflow-x: hidden;
  }

  .left {
    left: 0;
    top: -850px;
    animation-name: apareceresquerda;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }

  .right {
    right: 0;
    top: -850px;
    animation-name: aparecerdireita;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
  }

  .center {
    right: auto;
    left: -2.5px;
    top: -850px;
    animation-name: aparecercentro;
    animation-duration: 3s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
  }

  #fundo {
    width: 500px;
    height: 850px;
  }

  #texto {
    font-size: 100px;
    text-align: center;
    position: relative;
    top: 10vh;
    animation-name: mudarcor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #texto1 {
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -60vh;
    left: 7vh;
    animation-name: aparecertexto;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  #pistao {
    position: relative;
    left: 27.5vh;
    top: 40vh;
    width: 75px;
    animation-name: aparecerpistao;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes aparecertexto {
    50% {
      top: 46.5vh;
    }
    100% {
      top: 0vh;
    }
  }
}

@media only screen and (max-device-width: 375px) {
  .split {
    height: 101%;
    width: 101%;
    position: fixed;
    z-index: 1;
    top: -0;
    overflow-x: hidden;
  }

  .left {
    left: 0;
    top: -850px;
    animation-name: apareceresquerda;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }

  .right {
    right: 0;
    top: -850px;
    animation-name: aparecerdireita;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
  }

  .center {
    right: auto;
    left: -2.5px;
    top: -850px;
    animation-name: aparecercentro;
    animation-duration: 3s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
  }

  #fundo {
    width: 500px;
    height: 850px;
  }

  #texto {
    font-size: 95px;
    text-align: center;
    position: relative;
    top: 10vh;
    animation-name: mudarcor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #texto1 {
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -60vh;

    animation-name: aparecertexto;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  #pistao {
    position: relative;
    left: 23vh;
    top: 32vh;
    width: 75px;
    animation-name: aparecerpistao;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes aparecertexto {
    50% {
      top: 38vh;
    }
    100% {
      top: 0vh;
    }
  }
}

@media only screen and (max-device-width: 414px) {
  .split {
    height: 101%;
    width: 101%;
    position: fixed;
    z-index: 1;
    top: -0;
    overflow-x: hidden;
  }

  .left {
    left: 0;
    top: -850px;
    animation-name: apareceresquerda;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }

  .right {
    right: 0;
    top: -850px;
    animation-name: aparecerdireita;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
  }

  .center {
    right: auto;
    left: -2.5px;
    top: -850px;
    animation-name: aparecercentro;
    animation-duration: 3s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
  }

  #fundo {
    width: 500px;
    height: 850px;
  }

  #texto {
    font-size: 95px;
    text-align: center;
    position: relative;
    top: 10vh;
    animation-name: mudarcor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #texto1 {
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -60vh;

    animation-name: aparecertexto;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  #pistao {
    position: relative;
    left: 22vh;
    top: 38vh;
    width: 75px;
    animation-name: aparecerpistao;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes aparecertexto {
    50% {
      top: 43vh;
    }
    100% {
      top: 0vh;
    }
  }
}

@media only screen and (max-device-height: 812px) {
  .split {
    height: 101%;
    width: 101%;
    position: fixed;
    z-index: 1;
    top: -0;
    overflow-x: hidden;
  }

  .left {
    left: 0;
    top: -850px;
    animation-name: apareceresquerda;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }

  .right {
    right: 0;
    top: -850px;
    animation-name: aparecerdireita;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
  }

  .center {
    right: auto;
    left: -2.5px;
    top: -850px;
    animation-name: aparecercentro;
    animation-duration: 3s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
  }

  #fundo {
    width: 500px;
    height: 850px;
  }

  #texto {
    font-size: 95px;
    text-align: center;
    position: relative;
    top: 10vh;
    animation-name: mudarcor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #texto1 {
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -60vh;

    animation-name: aparecertexto;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  #pistao {
    position: relative;
    left: 18.5vh;
    top: 44vh;
    width: 75px;
    animation-name: aparecerpistao;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes aparecertexto {
    50% {
      top: 50vh;
    }
    100% {
      top: 0vh;
    }
  }
}

@media only screen and (max-device-width: 540px) {
  .split {
    height: 101%;
    width: 101%;
    position: fixed;
    z-index: 1;
    top: -0;
    overflow-x: hidden;
  }

  .left {
    left: 0;
    top: -850px;
    animation-name: apareceresquerda;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }

  .right {
    right: 0;
    top: -850px;
    animation-name: aparecerdireita;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
  }

  .center {
    right: auto;
    left: -2.5px;
    top: -850px;
    animation-name: aparecercentro;
    animation-duration: 3s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
  }

  #fundo {
    width: 600px;
    height: 850px;
  }

  #texto {
    font-size: 95px;
    text-align: center;
    position: relative;
    top: 10vh;
    animation-name: mudarcor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #texto1 {
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -60vh;

    animation-name: aparecertexto;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  #pistao {
    position: relative;
    left: 32.5vh;
    top: 37vh;
    width: 75px;
    animation-name: aparecerpistao;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes aparecertexto {
    50% {
      top: 42.5vh;
    }
    100% {
      top: 0vh;
    }
  }
}

@media only screen and (max-device-width: 280px) {
  .split {
    height: 101%;
    width: 101%;
    position: fixed;
    z-index: 1;
    top: -0;
    overflow-x: hidden;
  }

  .left {
    left: 0;
    top: -900px;
    animation-name: apareceresquerda;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }

  .right {
    right: 0;
    top: -900px;
    animation-name: aparecerdireita;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
  }

  .center {
    right: auto;
    left: -2.5px;
    top: -900px;
    animation-name: aparecercentro;
    animation-duration: 3s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
  }

  #fundo {
    width: 650px;
    height: 900px;
  }

  #texto {
    font-size: 95px;
    text-align: center;
    position: relative;
    top: 10vh;
    animation-name: mudarcor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #texto1 {
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -60vh;

    animation-name: aparecertexto;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  #pistao {
    position: relative;
    left: 23vh;
    top: 62vh;
    width: 75px;
    animation-name: aparecerpistao;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes aparecertexto {
    50% {
      top: 67.5vh;
    }
    100% {
      top: 0vh;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .split {
    height: 101%;
    width: 101%;
    position: fixed;
    z-index: 1;
    top: -0;
    overflow-x: hidden;
  }

  .left {
    left: 0;
    top: -900px;
    animation-name: apareceresquerda;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }

  .right {
    right: 0;
    top: -900px;
    animation-name: aparecerdireita;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
  }

  .center {
    right: auto;
    left: -2.5px;
    top: -900px;
    animation-name: aparecercentro;
    animation-duration: 3s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
  }

  #fundo {
    width: 650px;
    height: 900px;
  }

  #texto {
    font-size: 95px;
    text-align: center;
    position: relative;
    top: 10vh;
    animation-name: mudarcor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #texto1 {
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -60vh;

    animation-name: aparecertexto;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  #pistao {
    position: relative;
    left: 23vh;
    top: 65vh;
    width: 75px;
    animation-name: aparecerpistao;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes aparecertexto {
    50% {
      top: 67.5vh;
    }
    100% {
      top: 0vh;
    }
  }
}

